<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Server.Properties.Settings.BankDatabaseConnectionString1"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\Schema\BankDatabase.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="jsonWebHttp" type="Server.ServiceConfigurations.JsonWebHttpElement, Server" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <webHttpBinding>
        <binding name="short" sendTimeout="00:00:10" />
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint behaviorConfiguration="webEndpoint" binding="webHttpBinding" bindingConfiguration="short"
                contract="Server.RestServices.IRestService" name="RestServiceClient" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="restServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization serviceAuthorizationManagerType="Server.RestServices.RestAuthorizationManager, Server" />
        </behavior>
        <behavior name="soapServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization serviceAuthorizationManagerType="Server.SoapServices.SoapAuthorizationManager, Server" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webEndpoint">
          <webHttp defaultBodyStyle="Bare" automaticFormatSelectionEnabled="true" helpEnabled="true"
                   defaultOutgoingResponseFormat="Json" />
          <jsonWebHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="soapServiceBehavior" name="Server.SoapServices.SoapService">
        <endpoint address="" binding="basicHttpBinding" contract="Common.Contracts.ISoapService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="restServiceBehavior" name="Server.RestServices.RestService">
        <endpoint address="" behaviorConfiguration="webEndpoint" binding="webHttpBinding"
                  contract="Server.RestServices.IRestService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>